.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  .registration-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .registration-btn {
      margin-top: 20px;
      width: 200px;
    }
  }
  .redirect-link {
    margin-top: 20px;
    a {
      text-decoration: none;
    }
  }
}
